/* Component: SingleIconList */
.c-iconlist {
  list-style: none;
  padding: 0;
  margin: 0 0 3rem 0;
}

.c-iconlist__item {
  display: flex;
  align-items: center;
  font-size: inherit;
  margin: 0;
  padding: 0;
  position: relative;
}

.c-iconlist__icon {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.c-iconlist__bullet {
  width: 0.75rem;
  height: 0.75rem;
  fill: var(--color-primary);
}

.c-iconlist__text {
  color: var(--color-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-normal);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

